{% extends 'base.html' %}
{% block content %}
<div id="content">
				<div id="content-center">
					<div id="content-article" >
						<h1 id="first">第一次测试</h1>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;《最后的晚餐》取材于《新约圣经》，据《新约圣经·马可福音》记载：耶稣最后一次到耶路撒冷去过逾越节，犹太教祭司长阴谋在夜间逮捕他，但苦于无人带路。正在这时，耶稣的门徒犹大向犹太教祭司长告密说：“我把他交给你们，你们愿意给我多少钱？”犹太教祭司长就给了犹大30块钱。于是，犹大跟祭司长约好：他亲吻的那个人就是耶稣。逾越节那天，耶稣跟12个门徒坐在一起，共进最后一次晚餐，他忧郁地对12个门徒说：“我实话告诉你们，你们中有一个人要出卖我了！”12个门徒闻言后，或震惊、或愤怒、或激动、或紧张。《最后的晚餐》表现的就是这一时刻的紧张场面。 [1]  </p>
					</div>
					<div id="content-article-right">
						<ul>
							<li>类别1</li>
							<li>类别2</li>
							<li>类别3</li>
						</ul>
					</div>
				</div>
			</div>
{% endblock %}